<div class="modal-body text-center">
    <div class="animate__animated animate__fadeIn">
        <h2>
            <i-feather data-feather="info" class="mt-4"
            [ngClass]="{'text-info': type === 'info', 'text-warning': type === 'warning', 'text-danger': type === 'danger'}"
            style="width: 80px; height: 80px;"></i-feather>
        </h2>
    </div>
    <h4 class="mt-2">Please confirm the action</h4>
</div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">
        <i-feather name="x"></i-feather>
        Cancel
    </button>
    <button type="button" class="btn btn-outline-success" (click)="activeModal.close(true)">
        <i-feather name="check-circle"></i-feather>
        Confirm
    </button>
</div>